
h1 {
    font-weight: 400!important;
}
legend {
    font-size: 1.7rem!important;
}
.navbar{
    height:100px;
    background-color:rgb(100, 193, 255);
    font-weight:800;
}

.fab {
    font-size:3em;
}